.signup-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-type {
  color: #100538;
  border-bottom: 3px solid #100538;
}

.non-selected-type {
  color: #777777;
  border-bottom: 3px solid white;
}

.show-form {
  display: flex;
}

.hide-form {
  display: none;
}

p {
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.password-valid {
  font-size: 12px;
  color: #0c8a32;
  font-weight: 700;
}

.password-invalid {
  font-size: 12px;
  color: rgb(202, 25, 25);
  font-weight: 700;
}

.full-width-input {
  width: 432px;
}

.phone-number-select {
  width: 80px;
}

.at-p {
  width: 16px;
}

.hyp-p {
  width: 6px;
}

button {
  cursor: pointer;
}

.chk-pwd-valid input {
  border: 1px solid #0c8a32;
}

.chk-pwd-invalid input {
  border: 1px solid rgb(202, 25, 25);
}

.password-valid-input input {
  border: 1px solid #0c8a32;
}

.password-invalid-input input {
  border: 1px solid rgb(202, 25, 25);
}
